{{# partial "nav-bar"}}
{{/partial}}

{{# partial "title"}}
{{/partial}}

{{# partial "content"}}
<h4 class="jumbotron">La receta se actualizo con exito. Presione <a href="{{link}}">aqui</a> para volver :)</h4>
{{/partial}}
{{> base.hbs}}
